/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* 
  rgb(252, 202, 100)
  rgb(194, 21, 121)
  rgb(140, 82, 255)
  rgb(241, 185, 217)
  rgb(221, 156, 193) pink
  rgb(253, 207, 115) yellow
  rgb(246, 183, 56); dark yellow

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
  font-family: proxima-nova, times !important;
  font-style: normal !important;
  font-weight: 300 !important;
  line-height: 1.25 !important;
  color: #616569 !important;
  letter-spacing: .02em !important;
  margin: 10px auto !important;
  font-size: 1.25em !important;
  padding: 0 !important;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS Reset */

/* Global Styles */
body {
	background-color:#f9f9f9;
}

a {
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	text-decoration: none;
}

em {
	font-style: oblique;
}
strong {
	font-style: bold;
}
h1, h2, h3, h4, h5 {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
}
h3 {
	text-transform: capitalize;
	font-size: 1.875em;
	padding: 0 0 1% 0;
	color: #001833;
	font-weight: 800;
}
hr { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
strong, b {
font-weight: bold !important; 
}
/* End Global Styles */

/* Header Styles*/
header {
  background: linear-gradient( rgba(20, 204, 200, 70.0), rgba(220, 204, 200, 0.10)), /* bottom, image */
  url(banner.png);
  background-size: cover;
  background-position: center top;
  width: 100%;
  padding-bottom:
}
.intro {
  max-width: 1080px;
  margin: 0 auto;
  padding: 8% 0;
}
.intro h1 {
  font-size: 3.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 800;
  line-height: 1.5em;
}
.intro h2 {
  font-size: 2em;
  text-align: center;
  color: #fff;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.09em;
}
/* End of Header Styles*/
/* Flexbox Styles Demo*/
.xop-sectionD {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3;
}

.xop-wrapperD {
    max-width: 90%;
    width: 1080px;
    margin: 0 auto;
}

.xop-containerD {
    display: flex;
    margin: 2% 0;
}

.xop-actionBoxD {
    width: 270px;
    background: #ffffff;
    text-align: center;
    color: #616569;
    padding: 30px;
    border-radius: 10px;
    margin: 2%;
}

.xop-headingD {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 10px;
    margin: 0;
}

.xop-textD {
    padding: 2% 0;
    line-height: 1.4;
}

.xop-btnD {
    background: #fff;
    border: none;
    padding: 5%;
    width: 100%;
    color: rgb(221, 156, 193);
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
}

.xop-btnD:hover {
    background: rgb(221, 156, 193);
    color: #fff;
    cursor: pointer;
}
/* ENd of Flexbox Styles */
/* Flexbox STyles */
.xop-section {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3;
}

.xop-wrapper {
    max-width: 90%;
    width: 1080px;
    margin: 0 auto;
}

.xop-container {
    display: flex;
    margin: 2% 0;
}

.xop-actionBox {
    width: 270px;
    background: rgb(253, 207, 115);
    text-align: center;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin: 2%;
}

.xop-heading {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 10px;
    margin: 0;
}

.xop-text {
    padding: 2% 0;
    line-height: 1.4;
}

.xop-btn {
    background: #fff;
    border: none;
    padding: 5%;
    width: 100%;
    color: rgb(221, 156, 193);
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
}

.xop-btn:hover {
    background: rgb(221, 156, 193);
    color: #fff;
    cursor: pointer;
}
/* ENd of Flexbox Styles */

/* About Styles*/
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  font-family: proxima-nova, times;
  -webkit-animation-delay: 4s;
  /* Chrome, Safari, Opera */
  animation-delay: 2s;
  margin-left: auto;
  margin-right: auto;
}
.about {
  padding: 2% 0;
  max-width: 90%;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;

}
.about h2 {
  font-family: proxima-nova, times;
  font-style: normal;
  font-weight: 800;
  line-height: 1.25;
  color: #616569;
  letter-spacing: .02em;
  margin: 10px auto;
  font-size: 1.5em;
  padding: 0;
  text-align-last:
}
.about h3 {
  color: #232B2B;
}

.about p {
  font-family: proxima-nova, times;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25;
  color: #616569;
  letter-spacing: .02em;
  margin: 10px auto;
  font-size: 1.25em;
  padding: 0;
  text-align-last: 
}
.about p a {
  color: #b50569;
  border-bottom: 1px solid;
}
/* End of About Styles*/

/* Footer Styles */
footer {
  background-color: rgba(198, 90, 152, 0.5);
  color: #fff;
  padding: 2% 0;
  width: 100%;
  clear: both;
  height: 100px;
}
.footer-content {
  max-width: 960px;
  padding: 2% 0;
  margin: 0 auto;
  font-family: proxima-nova, times;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
  color: #fff;
  letter-spacing: .03em;
  font-size: 1.25em;
}
.credit {
  float: left;
}
.social {
  float: right;
}
.social li {
  display: inline;
}
.social li a {
  color: #fff;
  padding: 0.2em;
  font-size: 1.8em;
  font-weight: 600;
}
.social li a:hover {
  color: #011833;
}
.demo-actionBox {
  width: 500px
  height:500px;
}
/* End of Footer Styles */

.myCanvas {
  height: 256px;
  width: 256px;
  cursor: default;
  border: 1px solid black;
}

.myCanvas2 {
  height: 256px;
  width: 256px;
  cursor: default;
  border: 1px solid black;
}

.myMask {
  height: 356px;
  width: 356px;
  cursor: default;
  border: 1px solid black;
	background: "#000000";
}

.scream {
  height: 100px;
  width: 100px;
}
@media only screen and (max-width:1000px) {
  .wrapper {
    padding: 0% 4%;
  }
  .work {
    padding: 4% 0;
  }
  .image-area {
    float: left;
    width: 100%;
    height: auto;
  }
  .text-box {
    width: 100%;
    height: auto;
  }
  .social li a {
    font-size: 1.4em;
  }
  .footer-content {
    padding: 3.5%;
  }
}
@media only screen and (max-width:800px) {
  .intro h1 {
    font-size: 4em;
    line-height: 1.2;
  }
  .intro h2 {
    font-size: 1.8em;
    padding-top: 3%;
  }
  .about p {
    font-size: 1em;
    line-height: 2;
  }
  footer {
    height: 130px;
    line-height: 1.3em;
  }
  .footer-content {
    padding: 4%;
    font-size: 14px;
  }
  .social {
    float: left;
  }
  .social li a {
    font-size: 1.3em;
  }
  .contact-content {
    font-size: 12px;
    line-height: 1.5;
  }
}
@media screen and (max-width:1070px) {
    .xop-container {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .xop-actionBox {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
		.xop-actionBox-mask {
        width: 256px;
    }

    .xop-containerD {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .xop-actionBoxD {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
    .xop-actionBox-maskD {
        width: 256px;
    }
}
